
/* prevent the window scrollbars from appearing
which conflict with zooming.*/
html {
  overflow-x: hidden; 
  overflow-y: hidden; 
  background-color:black;
  color:white;
  font-family: helvetica;
  font-weight: lighter;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#no-canvas {
	width: 100%;
	height: 100%;
}

#info,h1 {
	color: #FFF;
  font-family: Monaco, monospace;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

.attribution{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  color: #202020;
  font-size: 11px;
  background: #DDD;
  padding: 1px 2px;
  cursor: pointer;
}

.modal {
  position: absolute;
  top:15%;
  left:35%;
  width: 30%;
  display: none;
  background: white;
  border-radius:4px;
  border:1px solid #ddd;
  color:black;
  padding: 10px 20px;
  line-height: 24px;
}

.modal a {
  color: #1E5CB9;
  text-decoration: none;
}

li {
  list-style: none;
}