
/* prevent the window scrollbars from appearing
which conflict with zooming.*/
html {
  overflow-x: hidden; 
  overflow-y: hidden; 
  background-color:black;
  color:white;
  font-family: helvetica;
  font-weight: lighter;
}

canvas{
	position: absolute;
}

#no-canvas {
	width: 100%;
	height: 100%;
}

#info {
	display: none
}